<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Hello</h2>
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="data:image/jpeg;base64,/9j/4AAQ
                                           SkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwg
                                           KCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84
                                          QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nz
                                           c3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAH4AvgMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAA
                                           AAAQIEBQYHAwj/xAA3EAABBAEDAQUFBwMFAQAAAAABAAIDEQQFEiExBhNBUWEiMnGBkQcjQqHB4fAU0f
                                           \EVM1JysST/xAAYAQADAQEAAAAAAAAAAAAAAAAAAQIDBP/EACERAQEAAgMBAAEFAAAAAAAAAAABAhESITE
                                           DkRMiMkFR/9oADAMBAAIRAxEAPwDsPReTzyvZeb2hWkxqcoeXn4uH/vzNYPNxXli61p2U7ZDlxOf5Byey1V
                                           kAnjomMIKeAkYCVATqQCIpOAQgG0hxDRZ8OU5ZX7R9cOh9mcuSJwGTMwxQ8/iI6o3oeuT/AGh66da7TTBjn
                                           HFxiYow306lVeFAxrQSSPC+p/ZV+AO8c5xPG4lzj/f6qzyJvYOwhvHs8FYW/wBurCPbGyxDq2PkQH7zHla+
                                           78ivorGkE0Ecrfde0OHzC+adFY8yTSv8fZsCl9DdlZDL2d057jZMDfyCr5J+88WqEqRaucJpTkEIBqaU+kh
                                           CA86RScQhMgvN3VPTCkbkf2syZDNcxot7u4fHuAHQlZYRzMY2SMljwOHN6hdL+1XSRl6XBnsad+JJyR4td+
                                           9Ln2HqcDB3OSA134R5/JZZeujDVxWGhdu9W0ctZk//AGY442PNOA9Cuqdne0una/AH4Uw7we/C/h7fl+q5O
                                           7T25lO7oi+ntclQJ9M1DAmbl4LnMkYbDmu5+oTmVhZYSvoMc8pwXOexPbt+eHYWqtH9VGLEgobh6jzW2i1T
                                           HkA9qrHir3GOrFgksKpzdYZHbIeXeZVW/VZd+8SkWPBLlBqtPLKyNu57g0eZXEvth1F+pZmJFCA5ke6m31N
                                           j+fJanXu0b2xBr5L2815+AXO9by48ppkc77wAsb6WpuW1zFR40wjDWtb7I5JuifVEmTLNKGxElp4r/Klx6Z
                                           FK2mvvzHNfVeP+kOx/vGENA5+8txv/AMChtLpc6XCZHhjG8RtskLtXYbMjytEZHHdYx7o38Af1XDdNzsiH+
                                           nEMZldK+iSK4XbuwzWMwpRGzYHFrnN8nG7Rjvkf11x201JUIWzkCQhKhAMQnFImDUiekpAeZSUi04ICHqOH
                                           HnYU+LKAWysLTYXGtQ0SFmQ+HKuOeB2wEcWQu4kLAfaTi4uMyLPlG0yO2PIHUjooy/1r8rq6YMsycN4D3Oe
                                           y6uzVfJWWTmRuxdjDuLRz5BRmlkQ296XxuG4X1pRsu8gRxtieMY80SfaPmVO2uUVbX9zltyonbH3feNPC0E
                                           PaiZkew2TfNccqh1GEPkZFC7YR0aRV/A/on4ONMXdzICyQct8dw6n6cpIrY4+sOkZHI927jw8USasHB7mO9
                                           KroqNtMiaGVW6rBTi4vjO0Cgb48eUETUwcqvaceOp6df2VHmYT5XRRtaXbmk+gsnr9PzV3itMokdfXj0Xvj
                                           Y/fvdJY5YG0fgOD+f0QGeEX9MYoMd72tb1cerj0/n8CkRObyOXAHbwrmXSWgWxwf1HtdFGdp7oXDuo2ggk7
                                           ndXH9kDaPlYjWdyzCaXt90VyV2bse1kelMYWFkxAMljqaXNuz7XQZLpHho3O6N5Hx/nC6PpGSLbR44Tx9LO
                                           2xoUICFoyCEUhACRKhANQlQmHgF6NCbGL5XrSAaQqrtDpLNY0ubEeBbhbCfBw6K2pFJWbmjl1dx8+9qdGyt
                                           K1dkzJ+75NRuadoHSlPcDJpcZYW24W6jwum9tdGxtVxWRztqjZc0crA5Wnsja+NltgZ7Lf7rLjq9N/1LlO1
                                           Bj4j5S2g10Yluj+H08v2Vt/pxjYXOkHHRwPI8qP8+akBkcMW7b95VbvED1VRm65hwS93PlwsP/Fx4CEpcbY
                                           pXvDBVkmvAWrzSOzs2ZpkzwK3NBjcPT/KodMh3ZDZMd4kjcbDmusfJdd7KwtZpjGgDhMr45W7FfhSSRPaW7
                                           SW1/Piq+GZ8DpnPcWt5JcTTWjzv5LqXaTs/FM8ztbW73iPFc27V6QO/wADTI37TmSuYT5gC1OdmM3Tx76U0
                                           fa7GdkbMKGaXaaDmNAv4WpseqtyyTFBM14NSNlFbT5LJ5+FreNruJpk8b9uORFjPDA1vdh1g2ByevWyuvQY
                                           0EU2Q0tAfDC3vTXR5HQ+tUpuePKSd7GO7LuK7Ry1ha4gAuPRpWuwpBvaG8XRWeY5u12xoB9DXPkpml5Lu/a
                                           HOo+PqrhV0SP3RfknLzx3b4WuHiF6LVkEIQgyISpEEEIQgGsFBOSBKgwhCEBV6y092OFi9RxByW3udzwei6
                                           BnRd7A4eI5Cx2cPbFA8G1OSsWJ1XTMybCyAyUx00ku22QFie1un5XZzNc6KCN+PkY5j718QeBfiCejulFde
                                           Ye7ldvY1zHingjw8kx2K58RhilxsnHb7jM2EuLPg4EWFjnzmUyx/DTqzVZbstprdI0rS9QAdDLOKyYSTteK
                                           JLq8COF13s/QgO08HlZPH0h084ycmcTSgbGMjbtiY3yDfotno2McXFDHXZN8p/HHOY/v9TlZ1ImZUffRFnm
                                           Fge1GhzZmbC5rQ0QjddeJ/wALofgouRjx5BNgbh0K0vaZ13GCZp+bHGzvtTa5rbp4gb3lf9j0+NKNlPgxoj
                                           Bjna1pslxLiXHqST1V9qmnStc672+Xms5PDIXbSzmzbissflhh/GaVyyy9eEbhtBDw+z7wKl477k3MrdY5r
                                           hUGdmvfKMfFY4NbwXtb1+CuNDdyxp3e0eQ5WdjpumEnDjvrSlKNguaMaMDjhSgtWREJaSIAQhCAEiVCCIhC
                                           EGEBCVAI7oshrkHcZHB6usLYKBquE3JisD228gpWHGIyI2us3Z9F5YkZe7uyCPPjx/VP1PGma8iIO3jwulI
                                           0PHyN7W5Msbh6ckH5KFNRoeE1re8cK46dVaTHYAUYgDIGgEXXgnPAcC1w4TJHdkBeeNlRzTuZG5rnM98A3t
                                           UDMx5MNl473uZd05xcR8ypWmxRYmOGMaASSXV4lTvLbfKYTDablwNniO4A+SymThxOnkjAD3D8Id+y1Xejw
                                           A+agvg3ZTpCWVXG0UfmqrCMFqOl92/2MJx594vND8lO0HTCchjnsLK8AbBWskh3cCvmnY2M2PmhalW0bLlm
                                           whviFjxClafrMOSA1x2vXrPCJIyD5LI6piyY02+MkUr2hvWODhYNpyzGga2HhuPkGnjjkrTxkOFjoq2AhLS
                                           CEbI2kJaQgGoCEqAEIQEgKRSchAVGr6UzLjJBLXeiqsHR24socZHvcOjT0WqkFghRBFTrpTYcp0Mjg0X9U2
                                           Wb1Ke5vHChzNI5BStOTbxyt8zS0cAirSQRSMaAX3Xmk75wNFNdkOJqqS5NO9aSDKGDl1oEu8UodFxsqREFO
                                           7S1IlM9eVIY30XhGOilxhXEUbLCr9VwmywOtvhfCt2jheczNzSPMKic0mDsTLNWHA8EhbLs/qYyY2skNOAW
                                           d7T4zmSb9jzX4vBQ9JzXRSte11c+CXivY6UHWlUbDmbPAyRvQhSVSCIQi0A1KEiUJ0FpFIQUgEItF0gEIXn
                                           Vlep6LzHVIELV4yxgqURwvMjhI1XJB7VheRgO61algKZ3YU8VTJBbCV7MiUoRhPawI4jk8o2KTGKQGr0aFS
                                           SpClSOTDO9o8Rs0LiDRIWHaHQyOF9Da6JrMW6BxvoFgckVM8HzSp4tf2UzBLF3ZdyOgWkHRc/7KzuZlNbZ6
                                           0t802AqhU5IhCZP/9k=" th:src="@{/resources/images/download.jpeg}"/>
        </div>
    </div>

  </body>

</html>
